@model IEnumerable<ViewSparkProject.Poll>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Descr
        </th>
        <th>
            Choice1
        </th>
        <th>
            Choice2
        </th>
        <th>
            Choice3
        </th>
        <th>
            Choice4
        </th>
        <th>
            Choice5
        </th>
        <th>
            CreatedBy
        </th>
        <th>
            CreationDate
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Choice1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Choice2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Choice3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Choice4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Choice5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PollID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PollID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PollID })
        </td>
    </tr>
}

</table>
