@model IEnumerable<ViewSparkProject.Group>

@{
    ViewBag.Title = "Browse Groups";
}

<div id="groupLoader" class="fullcolx fullrowy color-darkgray-a85 content loader group">
    <h2 class="text-magenta">Browse Groups</h2>
    <hr class="border-magenta" />
    <div class="group-action-link">
        @Html.ActionLink("Create New Group", "Create", "Group")
    </div>
    <table id="group-table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Action
            </th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }

    </table>
</div>
